.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100% !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper:hover {
    cursor: grab;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
}

.carousel-caption h2, .carousel-caption p.lead {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    color: #fff5f5;
}

.carousel-indicators li {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    align-self: center;
    transition: all 0.6s ease-in-out;
}

.carousel-indicators li.active {
    width: 1rem;
    height: 1rem;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border: 2px solid #fff;
    border-radius: 100%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background: #000;
    color: #000;
}

/* .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 28px !important;
    } */

.swiper-pagination-bullet-active {
    background: #fff !important;
    width: 1rem !important;
    height: 1rem !important;
}

.swiper-pagination-bullet {
    width: 0.75rem !important;
    height: 0.75rem !important;
    border-radius: 100% !important;
    align-self: center !important;
    transition: all 0.6s ease-in-out !important;
    background: rgba(255, 255, 255, .5) !important;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .carousel-control-prev, .carousel-control-next {
        border: none;
    }
    .swiper-wrapper {
        height: 36rem;
    }
}

@media only screen and (min-height: 700px) {
    .swiper-wrapper {
        height: 39rem;
    }
}