#RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
#RewriteRule ^(.*)\.php$ $1.html [NC,L]
#RewriteRule ^(.*)\.html$  $1.php [NC,L]

Options All -Indexes

DirectoryIndex server1.php

RewriteRule ^(.*)\.html$  $1.php [NC,L]
