img.lazy {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

table td {
    position: relative;
}

table td input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.colMax {
    width: 800px;
    min-height: 400px;
}

@media only screen and (max-width: 600px) {
    .colMax {
        width: 400px;
        min-height: 400px;
    }
}

div.box-color {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    float: left;
}